

body{
	background-color: #FCFEFF;
}

.frontpagetitles {
	font-family: 'Share Tech', sans-serif;
	color: white;
	font-size: 60px;
	position: absolute;
	left: 1%;
	top: 7px;

}

li {
	float: left;
	padding: 0px 25px;
	color: white;
	list-style-type: none;
	font-family: 'Share Tech', sans-serif;
	font-size: 30px;
}

ul {
	display: inline-block;
	position: absolute;
	left: 37%;
	top: 6%;
}

.loginbutton {
	color: white;
	border-style: solid;
	border-color: white;
	position: absolute;
	left: 83%;
	font-family: 'Share Tech', sans-serif;
	font-size: 45px;
	top: 3.5%;
	height: 65px;
	width: 125px;


}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
   }

 .carousel-controls {
 	position: relative;
 	margin-top: 105px;
 	height: 500px;
 }

 .carousel-indicators {
 	position: static;
 	
 }

.posts-slideshow{
min-width: 100%;
max-height: 500px;
display: block;
overflow: hidden;
top: -10%;
}


.welcomestuff {
	position: absolute;
	top: 100px;
	left: 40%;
	font-family: 'Share Tech', sans-serif;
	color: white;
	font-size: 100px;

}